[package]
name = "{{ crate_name }}"
version = "0.0.0"
edition = "2024"
publish = false

[workspace]

[dependencies]
{% if has_fluent_features %}
{{ parent_crate_name }} = { path = "..", features = [{% for feature in fluent_features %}"{{ feature }}"{% if !loop.last %}, {% endif %}{% endfor %}] }
{% else %}
{{ parent_crate_name }} = { path = ".." }
{% endif %}
{{ es_fluent_dep }}

[[bin]]
name = "generate"
path = "src/generate.rs"

[[bin]]
name = "check"
path = "src/check.rs"
