[package]
name = "{{ crate_name }}"
version = "0.0.0"
edition = "2024"
publish = false

[workspace]

[dependencies]
{% if has_fluent_feature %}
{{ parent_crate_name }} = { path = "..", features = ["{{ fluent_feature }}"] }
{% else %}
{{ parent_crate_name }} = { path = ".." }
{% endif %}
{{ es_fluent_dep }}
