# Auto detect text files and perform LF normalization
* text=auto
examples/** linguist-vendored
crates/es-fluent-lang/i18n/** linguist-vendored
crates/es-fluent-lang/es-fluent-lang.ftl linguist-vendored
