---
import Layout from "@stayhydated/astro-wasm-site/layouts/Layout.astro";
import { displayNameFromBaseUrl } from "@stayhydated/astro-wasm-site/site";
import Navigation from "../components/Navigation.astro";
import { Content as Readme } from "../../../README.md";

const baseUrl = import.meta.env.BASE_URL;
const displayName = displayNameFromBaseUrl(baseUrl);
---

<Layout title={displayName}>
  <Navigation slot="navigation" />
  <div class="mx-auto px-8 py-12 prose prose-invert prose-cyan max-w-none">
    <Readme />
  </div>
</Layout>
